{% extends 'home/base.html' %}
{% load static %}




{% block content %}


<section class="main_heading my-5">
  <div class="container">
  <div class="text-left ">
      <h1 class="display-6"> About us </h1>
      <hr class="w-100 mx-auto" />
  </div>
</div>
  <section id="main">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-8">
        <h2>Welcome to ABC Company</h2>
        <p>
          We are an independent website that attempts to keep our users up to date on Tax news. We also provide our users with the ability to compute their taxes as a feature. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate vitae quis commodi nam ipsa, veniam fugiat sunt quidem magnam quam quo ab. Possimus, minima. Porro magni fugit, dolore temporibus sunt voluptates. Dolores molestias dolore beatae quis quas praesentium rem!
     
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus magnam ipsa expedita natus. Minus voluptas quod laborum quis, iste alias officiis ea soluta, magni modi repudiandae non necessitatibus consequuntur voluptatibus deleniti. Non, nam neque consequuntur debitis aliquid, ullam ducimus explicabo delectus ipsam rem officiis enim. Voluptate quo aliquid necessitatibus expedita, voluptatum animi nesciunt molestiae corporis hic ut illo maxime, 
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus magnam ipsa expedita natus. Minus voluptas quod laborum quis, iste alias officiis ea soluta, magni modi repudiandae non necessitatibus consequuntur voluptatibus deleniti. Non, nam neque consequuntur debitis aliquid, ullam ducimus explicabo delectus ipsam rem officiis enim. Voluptate quo aliquid necessitatibus expedita, voluptatum animi nesciunt molestiae corporis hic ut illo maxime,
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus magnam ipsa expedita natus. Minus voluptas quod laborum quis, iste alias officiis ea soluta
        </p>
      </div>

</section>
</section>


  {% endblock%}