{% extends 'home/base.html' %} {% block content %}

      <main class="pt-5 pb-5  ">
        <div class="card text-center">
            <div class="card-header">
              <h3>Thank You</h3>
            </div>
            <div class="card-body">
              <p class="card-text mt-5">Thank you so much for your kind words. We really appreciate you taking the time out to share your experience with us. We count ourselves lucky for users like you. We look forward to working with you again in the future!</p>
              <a class="btn btn-outline-primary me-2" href="{%url 'home'%}" role="button">Go Home</a>
              
            </div>
            
            </div>
          </div>

        

      
      </main>

{% endblock %}