<div>

    {% extends 'home/base.html' %} 

    {% block content %}
    <main class="container">

        <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>

          <div class="carousel-inner">

            <div class="carousel-item active">
              {% load static %}
              <img src="{% static 'image/law.jpg' %}" class="d-block w-100" id="blog_background" alt="..." height="600px">               
              <div class="carousel-caption d-none d-md-block">
                <h2>Platform to gain legal knowledge</h2>
                <p>Our best effort to create a resource platform to gain knowldge on various Nepalese law</p>
              </div>
            </div>
            
            <div class="carousel-item">
              <img src="{% static 'image/tools.jpg' %}" class="d-block w-100" id="blog_background" alt="..." height="600px"> 
              <div class="carousel-caption d-none d-md-block">
                <h2>Dedicated tools to calculate income tax </h2>
                <p>Website with a keen focus on regulating tax with the help of professionals</p>
              </div>
            </div>

            <div class="carousel-item">
              <img src="{% static 'image/organization.jpg' %}" class="d-block w-100" id="blog_background" alt="..." height="600px"> 
              <div class="carousel-caption d-none d-md-block">
                <h2>User account to keep your account on check </h2>
                <p>Profile for our company with automated tax information</p>
              </div>
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div> 

        <!-- blog -->
        
       <!-- hhhhhhhhhh -->
       <div class="row mt-5">
           {% for tax_infoo in tax_info %}
        <div class="col-md-4">

            <h2>{{ tax_infoo.title }}</h2>
          <p>{{ tax_infoo.content|slice:80 }} </p>
          <p><a class="btn btn-secondary" href="{% url  'tax_detail' tax_infoo.slug  %}" role="button">View details &raquo;</a></p>
                
            
        </div>
        {% endfor %}
      </div>
      
     
      </main>
    {% endblock content %}

</div>

