{% extends "home/base.html" %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <h1> Profile for {{user.username}} </h1>
    <table class="table table-bordered mt-3">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Marital Status</td>
            <td>Salary</td>
            <td>Tax</td>
        </tr>
        {% for i in all_content%}
        <tr>        
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{i.marital_status}}</td>
            <td> {{i.salary}} </td>
            <td> {{tax}} </td>
            
        </tr>
        {% endfor %}
    
        {% for x in s%}
        <h1>{{x}}</h1>
        {% endfor %}
    
    
    
    
    
    </table>


</div>

{% endblock content %}